.op-page__main-header {
  padding-inline: var(--op-space-large);
  background-color: var(--op-color-neutral-plus-eight);
  box-shadow: var(--op-shadow-x-small);
}

@media (max-width: 767px) {
  .op-page {
    grid-template-areas: 'sidebar-left' 'main';
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr);

    .op-page__sidebar {
      position: static;
      block-size: auto;
      max-block-size: none;

      > * {
        block-size: auto;
      }
    }
  }

  .sidebar.sidebar--drawer {
    inline-size: 100%;
    min-inline-size: 0;
  }
}
